<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>uPros - guilds</title>
        <%- include('partials/css.ejs') %>
        <style>
          #myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #555;
}
        </style>
    </head>
    <body>
        <%- include('partials/navbar.ejs') %>
        <div class="container">

          <%- include('partials/top.ejs') %>

            <br>
            <h2>Manage server</h2>
<p>
    Below you can see all servers on which <em>you have permissions</em>. To manage the server, sometimes you need to <strong>invite a bot to it</strong>. However, if it is already there, <strong>do it right!</strong></p>
    <hr>
        <p>
            <div class="flex-container">
        <%
        for(var i in req.session.guilds){%>
            <%if((req.session.guilds[i].permissions & 0x00000020) == 0x00000020){%> <!--SPRAWDZ CZY MOZE ZARZADZAC KANALAMI-->
                <%if(!bot.guilds.cache.get(req.session.guilds[i].id)){
                    %>
                    <div class="media">
  <div class="media-left">
    <a href="#">
      <img style="height:100;width:100;border-radius: 50%;"class="media-object" onerror="this.src = 'https://discordapp.com/assets/322c936a8c8be1b803cd94861bdfa868.png';" src="https://cdn.discordapp.com/icons/<%=req.session.guilds[i].id%>/<%=req.session.guilds[i].icon%>.png" alt="...">
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading" style="margin-left: 10px;"><%=req.session.guilds[i].name%></h4>
    <a href="/invite" role="button" style="margin-left: 10px;" class="btn btn-secondary btn-lg">Invite bot</a>
  </div>
</div>
                    <%}else{%>
                        <div class="media">
  <div class="media-left">
    <a href="#">
      <img style="height:100;width:100;border-radius: 50%;"class="media-object" onerror="this.src = 'https://discordapp.com/assets/322c936a8c8be1b803cd94861bdfa868.png';" src="https://cdn.discordapp.com/icons/<%=req.session.guilds[i].id%>/<%=req.session.guilds[i].icon%>.png" alt="...">
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading" style="margin-left: 10px;"><%=req.session.guilds[i].name%></h4>
    <a href="/guild/<%=req.session.guilds[i].id%>" role="button" style="margin-left: 10px;" class="btn btn-secondary btn-lg">Manage bot</a>
  </div>
</div>
                <%}%>
                <br>
            <%}%>
            <%}%>
            </p>
            </div>



        </div>
    </body>
</html>
