<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title><%=req.websiteTitle%> - Manage <%=bot.guilds.cache.get(req.params.id).name%></title>
        <style>
          .custom-select {
  position: relative;
  font-family: Arial;
}

.custom-select select {
  display: none; /*hide original SELECT element: */
}

.select-selected {
  background-color: DodgerBlue;
}

/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

/* style the items (options), including the selected item: */
.select-items div,.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}

/* Style items (options): */
.select-items {
  position: absolute;
  background-color: DodgerBlue;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}
        </style>
        <%- include('partials/css.ejs') %>
    </head>
    <body>
        <%- include('partials/navbar.ejs') %>
        <div class="container">
            <br>
            <div class="media">
                <div class="media-left">
                  <a href="#">
                    <img style="height:100;width:100;border-radius: 50%;"class="media-object" onerror="this.src = 'https://discordapp.com/assets/322c936a8c8be1b803cd94861bdfa868.png';" src="https://cdn.discordapp.com/icons/<%=bot.guilds.cache.get(req.params.id).id%>/<%=bot.guilds.cache.get(req.params.id).icon%>.png" alt="...">
                  </a>
                </div>
                <div class="media-body">
                  <h4 class="media-heading" style="margin-left: 10px;"><%=bot.guilds.cache.get(req.params.id).name%></h4>
                </div>
              </div>
            
<p>
    
Below you can change <em>server's bot settings</em>. It is extremely <strong>simple and easy</strong>.</p>
    <hr>

    <%if(req.query.success){%>
      <div id="alert_success">
        <div class="alert alert-dismissible alert-success" onclick="document.getElementById('alert_success').innerHTML=''">
          <strong>Success!</strong> All changes saved! <u>Click to close</u>
        </div>
      </div>
    <%}%>

    <nav>
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <%
          let i22 = 0;
          settings.forEach(s=>{
          i22++;%>
          <a class="nav-item nav-link<%if(i22==1){%> active<%}%>" id="<%=s.categoryId%>-tab" data-toggle="tab" href="#<%=s.categoryId%>" role="tab" aria-controls="<%=s.categoryId%>" aria-selected="true"><%=s.categoryName%></a>
          <%})
          %>
      </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
      <%
      let i222 = 0;
      settings.forEach(s=>{
      i222++;%>
      <div class="tab-pane fade<%if(i222==1){%> show active<%}%>" id="<%=s.categoryId%>" role="tabpanel" aria-labelledby="<%=s.categoryId%>-tab">
        <form method="POST" action="/settings/update/<%=req.params.id%>/<%=s.categoryId%>">
      <%
        s.categoryOptionsList.forEach(option=>{%>
            <br><br>
          <%
          if(option.optionType.type == "select"){%>
            <h4><%=option.optionName%></h4>
            <%=option.optionDescription%><br>
            <select <%if(option.optionType.disabled){%>disabled<%}%> name="<%=option.optionId%>" style="width: 200px;">
              <%
              let ioo = 0;
                option.optionType.data.values.forEach(value=>{%>
                <option value="<%=value%>" <%if(actual[s.categoryId][option.optionId] == value){%>selected<%}%>><%=option.optionType.data.keys[ioo]%></option>
                <%
                  ioo++;
                })%>
            </select>
          <%}else if(option.optionType.type == "input"){
          %>
            <h4><%=option.optionName%></h4>
            <%=option.optionDescription%><br>
            <input name="<%=option.optionId%>" <%if(option.optionType.required){%>required<%}%> <%if(option.optionType.disabled){%>disabled<%}%> placeholder="<%=option.optionType.data%>" <%if(actual[s.categoryId][option.optionId]){%>value="<%=actual[s.categoryId][option.optionId]%>"<%}%> <%if(option.optionType.min){%>minlength="<%=option.optionType.min%>"<%}%> <%if(option.optionType.max){%>maxlength="<%=option.optionType.max%>"<%}%>/>
          <%} else if(option.optionType.type == "textarea"){%>

            <h4><%=option.optionName%></h4>
            <%=option.optionDescription%><br>
            <textarea name="<%=option.optionId%>" <%if(option.optionType.required){%>required<%}%> <%if(option.optionType.disabled){%>disabled<%}%> placeholder="<%=option.optionType.data%>" <%if(actual[s.categoryId][option.optionId]){%>value="<%=actual[s.categoryId][option.optionId]%>"<%}%> <%if(option.optionType.min){%>minlength="<%=option.optionType.min%>"<%}%> <%if(option.optionType.max){%>maxlength="<%=option.optionType.max%>"<%}%> rows="4" style="width:80%"><%if(actual[s.categoryId][option.optionId]){%><%=actual[s.categoryId][option.optionId]%><%}%></textarea>
          
          <%}else if(option.optionType.type == "switch"){%>

            <h4><%=option.optionName%></h4>
            <%=option.optionDescription%><br>
            <div class="form-check form-switch">
              <%if(actual[s.categoryId][option.optionId] == null || actual[s.categoryId][option.optionId] == undefined){%>
                <%if(option.optionType.data == false && !option.optionType.disabled){%>
                  <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" name="<%=option.optionId%>" />
                <%} else if(option.optionType.data == true && !option.optionType.disabled){%>
                  <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" name="<%=option.optionId%>" checked />
                <%} else if(option.optionType.data == true && option.optionType.disabled){%>
                  <input class="form-check-input" type="checkbox" id="flexSwitchCheckCheckedDisabled" checked disabled />
                <%} else if(option.optionType.data == false && option.optionType.disabled){%>
                  <input class="form-check-input" type="checkbox" id="flexSwitchCheckDisabled" disabled />
                <%}%>
              <%}else{%>
                <%if(actual[s.categoryId][option.optionId] == false && !option.optionType.disabled){%>
                  <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" name="<%=option.optionId%>" />
                <%} else if(actual[s.categoryId][option.optionId] == true && !option.optionType.disabled){%>
                  <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" name="<%=option.optionId%>" checked />
                <%} else if(actual[s.categoryId][option.optionId] == true && option.optionType.disabled){%>
                  <input class="form-check-input" type="checkbox" id="flexSwitchCheckCheckedDisabled" checked disabled />
                <%} else if(actual[s.categoryId][option.optionId] == false && option.optionType.disabled){%>
                  <input class="form-check-input" type="checkbox" id="flexSwitchCheckDisabled" disabled />
                <%}%>
              <%}%>
            </div>
          
          <%}else if(option.optionType.type == "channelsSelect"){%>
            <h4><%=option.optionName%></h4>
            <%=option.optionDescription%><br>
            <select <%if(option.optionType.disabled){%>disabled<%}%> name="<%=option.optionId%>" style="width: 200px;">
              <%
              let ioooooo = 0;
              let functiona = option.optionType.function(bot, guildid);
              functiona.values.forEach(value=>{%>
                <option value="<%=value%>" <%if(actual[s.categoryId][option.optionId] == value){%>selected<%}%>><%=functiona.keys[ioooooo]%></option>
                <%
                  ioooooo++;
                })%>
            </select>
            <%}else if(option.optionType.type =="rolesSelect"){%>
              <h4><%=option.optionName%></h4>
              <%=option.optionDescription%><br>
              <select <%if(option.optionType.disabled){%>disabled<%}%> name="<%=option.optionId%>" style="width: 200px;">
                <%
                let iooooooo = 0;
                let functiona = option.optionType.function(bot, guildid);
                functiona.values.forEach(value=>{%>
                  <option value="<%=value%>" <%if(actual[s.categoryId][option.optionId] == value){%>selected<%}%>><%=functiona.keys[iooooooo]%></option>
                  <%
                    iooooooo++;
                  })%>
              </select>
            <%}%>

        <%})

      %>
      <br><br>
      <button type="submit">Submit</button>
        </form>
      </div>
      <%})
      %>
    </div>

      </div>
    </div>
    </body>
</html>
